/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 3, 2022, 9:00:23 AM
    Author     : kyqua
*/

.tabcartuser {
    padding-top: 100px;
    padding-bottom: 100px;
}
.h3cartuser {
    color: #0d9245;
    
}